[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
colorlog = "*"
"ruamel.yaml" = "*"
labjack = "*"
labjack-ljm = "*"
numpy = "*"
scipy = "*"
simple-pid = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3"
