[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
qt-material = "*"
colorlog = "*"
pyqtgraph = "*"
"ruamel.yaml" = "*"
labjack = "*"
labjack-ljm = "*"
qtrangeslider = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3"
