[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
"ruamel.yaml" = "*"
labjack-ljm = "*"
numpy = "*"
scipy = "*"
simple-pid = "*"
pillow = "*"
opencv-contrib-python = "*"
pyside6 = "*"
jinja2 = "*"
pyinstaller = "*"
pyqtgraph = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3"
