SequenceToolBar QToolButton {{
  background: {QTMATERIAL_SECONDARYCOLOR};
  border: 0px;
  height: 30px;
  margin: 0px;
  padding: 5px;
  border-right: 10px solid {QTMATERIAL_SECONDARYCOLOR};
  border-left: 10px solid {QTMATERIAL_SECONDARYCOLOR};
}}

SequenceToolBar QToolButton:hover {{
  background: {QTMATERIAL_SECONDARYLIGHTCOLOR};
  border-right: 10px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
  border-left: 10px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

SequenceToolBar {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QTabBar::close-button {{
  image: url(icon:/secondaryText/close.svg);
}}

QTabBar::close-button:hover {{
  image: url(icon:/primary/close.svg);
}}

CameraSettings QGroupBox {{
  background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
}} 

QComboBox:disabled {{
  color: {QTMATERIAL_PRIMARYCOLOR};
}}

QLineEdit:disabled {{
  color: {QTMATERIAL_PRIMARYCOLOR};
}}

QGroupBox {{
    background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}} 

LinearSlider {{
  qproperty-backgroundColour: {QTMATERIAL_SECONDARYDARKCOLOR};
  qproperty-grooveColour: {QTMATERIAL_SECONDARYCOLOR};
  qproperty-setPointColour: {QTMATERIAL_PRIMARYCOLOR};
  qproperty-processVariableColour: '#17a2b8';
  qproperty-textColour: {QTMATERIAL_PRIMARYCOLOR};
  qproperty-limitColour: '#ffc107';
  qproperty-rangeColour: '#dc3545';
}}

QGroupBox {{
  background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}} 

.limit {{
  color: '#ffc107';
  border: 1px solid '#ffc107';
  border-width: 0 0 2px 0;
}}

.range {{
  color: '#dc3545';
  border: 1px solid '#dc3545';
  border-width: 0 0 2px 0;
}}

.setPoint {{
  color: {QTMATERIAL_PRIMARYCOLOR};
  border: 1px solid {QTMATERIAL_PRIMARYCOLOR};
  border-width: 0 0 2px 0;
}}

.processVariable {{
  color: '#17a2b8';
  border: 1px solid '#17a2b8';
  border-width: 0 0 2px 0;
}}

/* QPushButton.indicator {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#dc3545';
  border-color:  '#dc3545';
}} */

QPushButton.indicator:disabled {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#dc3545';
  border-color:  '#dc3545';
}}

QPushButton.indicator:disabled:checked {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#27AE60';
  border-color:  '#27AE60';
}}

/* QPushButton.runningIndicator {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#dc3545';
  border-color:  '#dc3545';
}} */

QPushButton.runningIndicator:disabled {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#dc3545';
  border-color:  '#dc3545';
}}

QPushButton.runningIndicator:disabled:checked {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#27AE60';
  border-color:  '#27AE60';
}}

QPushButton.limitIndicator:disabled {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#27AE60';
  border-color:  '#27AE60';
}}

QPushButton.limitIndicator:disabled:checked {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: '#dc3545';
  border-color:  '#dc3545';
}}

QPushButton:disabled,
QPushButton:flat:disabled {{
  color: {QTMATERIAL_SECONDARYDARKCOLOR};
  background-color: transparent;
  border-color: {QTMATERIAL_SECONDARYDARKCOLOR};
}}

/* QLineEdit:disabled {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    background-color: {QTMATERIAL_SECONDARYCOLOR};
}} */

/* QTableView:item {{
  padding: 5px;
  min-height: 25px;
  color: {QTMATERIAL_PRIMARYCOLOR};
}}

QTableView::item:selected {{
  color: {QTMATERIAL_PRIMARYCOLOR};
}}

QTableView::item:disabled {{
  color: {QTMATERIAL_PRIMARYCOLOR};
}}

QTableView QLineEdit,
QListView QLineEdit {{
  color: {QTMATERIAL_PRIMARYCOLOR};
  background-color: {{secondaryColor}};
  border: 1px solid unset;
  border-radius: unset;
  padding: unset;
  padding-left: unset;
  height: unset;
  border-width: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}} */
